* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/* CLASES REUSABLES */


/* Contenedores */
.container {
  max-width: 1200px;
  padding: 0 3.2rem;
  margin: 0 auto;
}



.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

/* Buttons */ 

.primary-button {
  padding: 1.2rem 2.4rem;
  background-color: #002169;
  color: white;
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
}

/* Margin */

.mt-100 {
  margin-top: 10rem;
}

.mt-48 {
  margin-top: 4.8rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-48 {
  margin-bottom: 4.8rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mr-18 {
  margin-right: 1.8rem;
}

.pb-160 {
  padding-bottom: 16rem;
}

.py-48 {
  padding: 4.8rem 0;
}

.header {
  height: auto;
  background-color: #D9E3FF;
  height: 70px;
}

.header__nav {
  display: flex;
  height: 100%;
}

.header__nav__ul {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__nav__ul-li {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.2rem;
}

/* SECTION HERO */

.section__hero {
  background-image: url("./Recurso\ 2\ \(2\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__hero--left {
  height: auto;
}

.section__hero--left-h1 {
  font-size: 5.2rem;
  width: 900;
}

.section__hero--left-p {
  font-size: 20px;
  font-weight: 400;
}

.section__hero--left-a-secundary {
  background-color: #f0f0f0;
  color: black;
}

.section__hero--right {
  position: relative;
}

.section__hero--right-img {
  position: absolute;
  bottom: 0;
}

.wave {
  position: absolute;
  bottom: 25%;
  z-index: -1;
}

/* SECTION PATROCINADORES */

.section__patrocinadores {
  background-color: #ebeffc;
}

.section__patrocinadores-container {

}

.section__patrocinadores-container-title {
  font-size: 2rem;
  max-width: 700px;
  margin-right:  auto;
  margin-left: auto;
  text-align: center;
}

.section__patrocinadores_boxes-container {
  display: flex;
  justify-content: space-evenly;
}

.section__patrocinadores_box {
  height: 52px;
}

.section__patrocinadores_box--img {
  width: 100%;
  height: 100%;
  filter: brightness(0);
  opacity: 40%;
}

/* SECTION STEPS */

.section__steps {

}

.section__steps-container {
  gap: 10rem;
}

.section__steps-container--box-text {

}

.section__steps-subtitle {
  font-size: 2rem;
  color: #002169;
  font-weight: 600;
}

.section__steps-title {
  font-size: 4.4rem;
  color: #002169;
}

.section__steps-container--box-text-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #D9E3FF;
}

.section__steps-container--box-text-title {
  font-size: 3rem;
}

.section__steps-container--box-text-description {
  font-size: 2rem;
}

.section__steps-container--box-image {
  display: flex;
  place-items: center;
}

/* SECTION OFRECEMOS */

.section__ofrecemos {
  background-color: #D9E3FF;
  text-align: center;
}

.section__ofrecemos {

}

.section__ofrecemos-title {
  font-size: 4.4rem;
  color: #002169;
}


.section__ofrecemos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.section__ofrecemos-grid-box-image{

}

.section__ofrecemos-grid-box-title {
  font-size: 3rem;
} 

.section__ofrecemos-grid-box-description {
  font-size: 2rem;;
} 